*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Caslon Display', serif;
}

/* ---------Bootstrap Styles--------- */
.carousel-control-prev-icon{
    padding: 1.5rem;
    background-color: black;
}
.carousel-control-next-icon{
    padding: 1.5rem;
    background-color: black;
}
.navbar-brand{
    font-size: 2rem;
    text-transform: capitalize;
}
.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover{
    color: black;
    border-bottom: 4px solid black;
}
.form-control{
    border-radius: 0;
}
.form-control:focus {
    border-bottom-color: black;
    outline: 0;
    box-shadow: none;
}

/* ---------My Styles--------- */

.card--1{
    height: 440px;
}
.card--2{
    height: 440px;
}
.card--3{
    height: 440px;
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-gray{
    background-color: rgb(192, 192, 192);
}

.textinfo{
    font-size: 6rem;
}

.bg-dark-claro{
    background-color: rgba(33, 37, 41, 0.623);
}

.margin{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.padding{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.hover-img{
    object-fit: cover;
}

.img-person{
    object-fit: cover;
}

.hover:hover{
    color: black;
    border-bottom: 4px solid black;
    transition: .3s;
}

.btn-brown{
    background-color: #664d03;
}
.btn-brown:hover{
    background-color: #463502;
}

.gallery{
    position: relative;
}

.img-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-gallery{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hover-gallery:hover{
    opacity: 1;
    transition: .3s;
}

.images{
    overflow: hidden;
}

.img-perfume{
    width: 100%;
    height: 100%;
}

.img-perfume:hover{
    transform: scale(1.2);
    transition: .8s;
}

.product-img{
    overflow: hidden;
}

.img-pro{
    width: 100%;
    height: 100%;
}

.img-pro:hover{
    transform: scale(1.2);
    transition: .8s;
}

.img-ban{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overflow{
    overflow: hidden;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .carousel-control-prev-icon{
        padding: 1rem;
    }
    .carousel-control-next-icon{
        padding: 1rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img-gallery{
        width: 180px;
        height: 180px; 
    }
    .padding-2{
        padding: 4.5rem 10rem;
    }
}